
@media (max-width: 750px) {
    .main-750 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        width: 100vw;
        background-color: #16191F;
    }
    
    .main-750__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 74px;
        width: 100vw;
        padding: 25px 20px 25px 20px;
        position: fixed;
        z-index: 2;
        backdrop-filter: blur(41px)

        
    }

    .main-750__header-layout {
        height: 74px;
        width: 100vw;
        position: relative;
        display: flex;
    }

    .main-750__footer {
        width: 100%;
        /* height: 134px; */
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        /* bottom: 0;
        position: fixed; */
        
    }
    


    .main-750__footer-wrapper {
        width: 100%;
        height: 134px;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-direction: column;
        bottom: 0;
        position: fixed;
        transition: height 1s;
        gap: 20px;
        padding-top: 15px;
    
        /* transform: translateY(0px); */



    }



    .main-750__footer-wrapper::before {
        box-shadow: 0px 8px 100px 30px rgba(0, 0, 0, 1);
        content: '';
        display: block;
        position: fixed;
        width: 100%;
        z-index: -10;
        
    }

    .main-750__footer-wrapper::after {
        /* box-shadow: 0px 8px 100px 30px rgba(0, 0, 0, 1); */
        content: '';
        display: block;
        position: fixed;
        width: 70px;
        height: 5px;
        left: calc(50% - 35px);
        border-radius: 14px;
        background-color: #373E4E;
        z-index: 2;

    }

    .main-750__footer-wrapper__fade-out-animation::after {
        transform: translateY(-15px);
    }

    .main-750__footer-wrapper__fade-in-animation::after {
        transform: translateY(-30px);
    }
    

    .main-750__footer-layout {
        width: 100%;
        height: 134px;
        display: flex;
        position: relative;
    }


    .main-750 main {
        display: flex;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* .main-750__footer::after {
        content: '';
        position: fixed;
        display: flex;
        width: 93%;
        height: 0px;
        box-shadow: 0px 8px 100px 30px rgba(0, 0, 0, 1);
        z-index: -1;
        bottom: 119px;
    }

    .main-750__footer::before {
        content: '';
        position: fixed;
        display: block;
        bottom: 139px;
        left: calc(50% - 35px);
        width: 70px;
        height: 5px;
        border-radius: 14px;
        background-color: #373E4E;
    } */

    .footer-shadow {
        position: absolute;
        display: none;
        bottom: 134px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        width: 93%;
        height: 30px;
        box-shadow: 0px 8px 100px 30px rgba(0, 0, 0, 1);
        border-radius: 12px 12px 0 0;
        z-index: -1;
    }
    
    .footer-handle {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 5px;
        display: none;
        border-radius: 14px;
        background-color: #373E4E;
    }

    .main-750__footer section {
        width: 93%;
        height: 104px;
        padding: 15px 10px 10px 10px;
        border-radius: 32px;
        
        border: 1px solid #292E3C; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #191C2499;
    
        /* Мягкая тень как в примере */
        /* box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.4); */
        backdrop-filter: blur(30px);

        box-shadow: 0px 4px 100px 0px #00000073;
        

        z-index: 2;
    }

    .main-750__footer__section__textarea-section {
        width: 100%;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-750__footer__section__textarea-section textarea {
        width: 100%;
        height: 24px;
        border-radius: 15px 15px 30px 30px;
        padding-left: 10px;
        border: 0;
        background-color: transparent;
        resize: none;
    }

    .main-750__footer__section__textarea-section textarea::placeholder {
        color: #657085;

        font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;


    }
    
    .main-750__footer__section__button-section {
        display: flex;
        width: 100%;
        height: 40px;
        justify-content: space-between;
        align-items: center;
    }


    .main-750__footer__section__button-section__column-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        gap: 10px;
    }


    .main-750__footer__section__button-section__column-1 div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        background-color: #292E3C;
        border-radius: 36px;
    }

    .main-750__footer__section__button-section__column-1 div button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;

    }


    .main-750__footer__section__button-section__column-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        width: 110px;
        gap: 10px;
    }

    .main-750__footer__section__button-section__column-2 div {
        width: 50px;
        height: 40px;
        background-color: #292E3C;
        /* padding: 15px 25px 15px 25px; */
        border-radius: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-750__footer__section__button-section__column-2 div button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
    }


    .main-750 main span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* gap: 10px; */
        flex-direction: column;
        text-align: center;
        height: 106px;
    }


    .main-750 main span h1 {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 8px;
    }

    .main-750 main span h1, .main-750 main span h1 p, .main-750 main span p {
        font-family: Unbounded;
        font-weight: 300;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;

    }


    .main-750 main span h1 p {
        font-family: Unbounded;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        background: linear-gradient(to right, #7a9fff, #6690fc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }



    
    .main-750 main span h2 {
        background: radial-gradient(74.5% 116.87% at 50.2% 100%, rgba(187, 188, 251, 0.7) 0%, rgba(109, 203, 250, 0.7) 34.97%, rgba(89, 114, 239, 0.7) 64.59%, rgba(40, 80, 110, 0.7) 82.81%, rgba(40, 80, 110, 0.7) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;

        margin-top: 10px;

        font-family: Unbounded;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;

    }

    .main-750__footer__content-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-direction: column;
        height: 100%;
        gap: 20px;
    }



    .main-750__footer__nav {
        /* display: flex; */
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    



    .main-750__footer__nav__fade-in-animation {
        animation: main-750__footer__nav__fade-in-animation 1s forwards;
    }

    @keyframes main-750__footer__nav__fade-in-animation {
        0% {
            display: flex;
            opacity: 0;
        } 99% {
            display: flex;
            opacity: 1;
        } 100% {
            display: flex;
            opacity: 1;
        }
    }


    .main-750__footer__nav__fade-out-animation {
        animation: main-750__footer__nav__fade-out-animation 0.2s forwards;
    }

    @keyframes main-750__footer__nav__fade-out-animation {
        0% {
            display: flex;
            opacity: 1;
        } 99% {
            display: flex;
            opacity: 0;
        } 100% {
            display: none;
            opacity: 0;
        }
    }

    




    .main-750__footer-wrapper__fade-in-animation {
        animation: main-750__footer-wrapper__fade-in-animation 0.2s forwards;
    }

    @keyframes main-750__footer-wrapper__fade-in-animation {
        0% {
            background-color: #22263100;
            backdrop-filter: blur(0px);
            
            /* box-shadow: 0px 4px 100px 1px #00000000; */
            padding: 0;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            z-index: 2;
        } 99% {

            backdrop-filter: blur(40px);
            background-color: #2226318C;
            /* box-shadow: 0px 4px 100px 1px #00000099; */
            /* padding: 15px; */
            border-top-left-radius: 47px;
            z-index: 2;
            border-top-right-radius: 47px;
            
        } 100% {
            backdrop-filter: blur(40px);
            background-color: #222631ff;
            box-shadow: 0px 4px 100px 1px #00000099;
            /* padding: 15px; */
            border-top-left-radius: 47px;
            z-index: 2;
            border-top-right-radius: 47px;

            /* backdrop-filter: blur(40px); */

/* box-shadow: 0px 4px 100px 1px #00000099; */

        }
    }








    .main-750__main__span__fade-in-animation {
        animation: main-750__main__span__fade-in-animation 1s forwards;
    }

    @keyframes main-750__main__span__fade-in-animation {

        0% {
            transform: translateY(-10px);
            display: block;
            opacity: 0;
        } 99% {
            transform: translateY(0px);
            opacity: 1;
            display: block;
        } 100% {
            transform: translateY(0px);
            opacity: 1;
            display: block;
        }

    }



    .main-750__main__span__fade-out-animation {
        animation: main-750__main__span__fade-out-animation 1s forwards;
    }

    @keyframes main-750__main__span__fade-out-animation {

        0% {
            transform: translateY(0px);
            display: block;
            opacity: 1;
        } 99% {
            transform: translateY(-10px);
            opacity: 0;
            display: block;
        } 100% {
            transform: translateY(-10px);
            opacity: 0;
            display: none;
        }

    }

    .main-750__header div:nth-child(2) button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .main-750__header div:nth-child(2) button span {
        padding: 7px 10px 7px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background: radial-gradient(58.27% 348.22% at 39.42% -41.67%, #4A83F0 0%, #B44ADD 39.73%, #D76674 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        width: 48px;
        height: 24px;
        font-family: Unbounded;
        font-weight: 500;
        font-size: 13px;
        leading-trim: Cap height;
        line-height: 150%;
        letter-spacing: 0%;

    }

}

