



.chat-opened__opacity-fade-out {
    animation: chat-opened__opacity-fade-out 1s forwards;
}

@keyframes chat-opened__opacity-fade-out {
    0% {
        opacity: 1;
        transform: translateY(30px);
        display: flex;

    } 99% {
        opacity: 0;
        transform: translateY(90px);
        display: flex;

    } 100% {
        transform: translateY(90px);
        display: none;
        opacity: 0;
    }
}

.chat-opened__opacity-fade-in {
    animation: chat-opened__opacity-fade-in 1s forwards;

}

@keyframes chat-opened__opacity-fade-in {
    0% {
        opacity: 0;
        transform: translateY(50px);
        display: flex;

    } 99% {
        transform: translateY(0px);
        opacity: 1;
        display: flex;

    } 100% {
        transform: translateY(0px);
        display: flex;
        opacity: 1;
    }
}


.fade-in__animated-frame {
    animation: fade-in__animated-frame 1s forwards;
}


@keyframes fade-in__animated-frame{
    0% {
        opacity: 0;
        transform: translateY(50px);
        display: block;

    } 99% {
        opacity: 1;
        display: block;
        transform: translateY(0px);


    } 100% {
        display: block;
        transform: translateY(0px);
        opacity: 1;
    }
}


.fade-out__animated-frame {
    animation: fade-out__animated-frame 1s forwards;
}

@keyframes fade-out__animated-frame {
    0% {
        opacity: 1;
        transform: translateY(30px);
        display: block;

    } 99% {
        opacity: 0;
        transform: translateY(90px);
        display: block;

    } 100% {
        transform: translateY(100px);
        display: none;
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        display: flex;
    } 99% {
        opacity: 0;
        display: flex;
    } 100% {
        opacity: 0;
        display: flex;
    }
}

.input-section-chatOpened {
    width: 1180px;
    position:fixed;
    top: 77% !important ;
    transform: translateY(50px);
    transition: transform 1s, width 1s;
}