


@media (max-width: 750px) {
    
    
    
    
    
    
    .info-750-wrapper {
        display: block;
        width: 100%;
        overflow-y: auto;
        scrollbar-width: none;
    }
    .info-750 {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        height: auto;

        margin-bottom: 80px;
    }

    









    





    


}