@media (max-width: 750px) {
    .RecoverAccount-app .section-1 {
        margin-top: 100px;
    }


    .RecoverAccount-app .section-1__form__header__text-2 {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0%;

    }

    .RecoverAccount-app .section-1 form {
        margin-bottom: 0;
    }

    .RecoverAccount-app .section-1__footer__button-create-account {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0%; 
        text-align: center;

    }
}