
@media (max-width: 750px) {
    .pro-750-wrapper {
        display: block;
        width: 100%;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .pro-750 {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 20px;
        height: auto;

        margin-bottom: 80px;
    }











    

    










    











    

    









    

}