.section-news {
    width: 100%;
    height: 433px;

    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100vw;
    margin-left: -20px;
    margin-right: -20px;


}

.section-news h1,.info-750__section-4 h1 {
    margin-left: 20px;
    font-family: Montserrat;
font-weight: 600;
font-size: 20px;
line-height: 150%;
letter-spacing: 0%;

}

.section-news section {
    /* background-color: #fff; */
    width: 100%;
    height: 383px;
    display: block;
    overflow-x: auto;
    scrollbar-width: none;
}

.section-news section aside,.info-750__section-4 section aside {
    display: flex;
    width: 1141px;
    margin: 0px 20px;
    gap: 20px;
}

.section-news section aside div {
    display: flex;
    flex-direction: column;
    width: 367px;
    height: 383px;
    background-color: #222631;
    border-radius: 20px;

}


.section-news__news-1__img,.section-news__news-2__img,.section-news__news-3__img {
    width: 367px !important; 
    height: 200px !important;
    border-radius: 0 !important;
}

.section-news__news-1__content,.section-news__news-2__content,.section-news__news-3__content {
    width: 367px !important;
    height: 183px !important;
}

.section-news__news-1__img {
    background-image: url('./item/news-1.png');
    background-position: center;
    background-size: cover;
}
.section-news__news-2__img {
    background-position: center;
    background-size: cover;
    background-image: url('./item/news-2.jpg');
}
.section-news__news-3__img {
    background-size: cover;
    background-position: center;
    background-image: url('./item/news-3.png');
}

.section-news section aside div div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}


.section-news section aside div div:nth-child(2) p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #657085;
}

.section-news section aside div div:nth-child(2) h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-wrap: wrap;
    color: #FBFBFB;
    height: 54px;
}

.section-news section aside div div:nth-child(2) button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 146px;
    height: 50px;
    border-radius: 36px;
    border: 1px solid #373E4E;
    background-color: #22263199;
    gap: 5px;
    padding: 15px;
}

.section-news section aside div div:nth-child(2) button span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #FBFBFB;
    height: auto;
    width: auto;
}