.messenger-app {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    /* width: 100%; */
    width: 50%;
    opacity: 0;
    animation: fadeIn 1s forwards;


    padding-bottom: 150px;
    max-height: 9999999px;

    
}

.fade-out-animation {
    animation: fadeOut 0.5s forwards;
}

.user-message-container {
    display: flex;
    max-height: 9999999px;
    max-width: 100%;
    align-items: center;
    justify-content: flex-end;

    overflow-wrap: break-word;
    overflow: visible;
    animation: user-message-animation 1s ease;
}

@keyframes user-message-animation {
    0% {
        transform: translateY(-10px);
    } 100% {
        transform: translateY(0px);

    } 
}

.ai-message-container {
    display: flex;
    max-width: 100%;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        
    } 99% {
        
        opacity: 1;
    } 100% {
        opacity: 1;
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
        display: flex;
    } 99% {
        display: flex;
        opacity: 0;
    } 100% {
        display: none;
        opacity: 0;
    }
}

.user-message {
    display: block;
    align-self: flex-end;

    max-width: 60%;
    min-height: 54px;
    min-width: 120px;
    max-height: 9999999px;
    border-radius: 40px;
    padding: 15px 25px 15px 25px;

    background-color: #222631;



    word-break: break-word; /* <-- ключевой момент */
    overflow-wrap: break-word;


    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    color: #FBFBFB;

}

.ai-message {


    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    color: #FBFBFB;


}

@keyframes ai-message-animation {
    0% {

        transform: translateY(30px);
        opacity: 0;

    } 100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


.ai-message-app {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 70%;
    /* min-height: 54px; */
    min-height: calc(100vh - 100px - 100px - 150px);


    border-radius: 40px;
    padding: 15px 25px;
    animation: ai-message-animation 1s ease;


    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
}

.ai-message-app header span {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #FBFBFB;



}

.ai-message-app section span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    
    color: #FBFBFB;



}

.ai-message-app section {
    padding: 15px 0px;
    margin: 15px 0px;
    border-top: 1px solid #373E4E;
    border-bottom: 1px solid #373E4E;




}

.ai-message-app footer {
    display: flex;
    height: 28px;
    width: 142px;
    gap: 10px;
}

.ai-message-app footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
}


.ai-message-app footer button img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
}


.messenger-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    opacity: 1;
    width: 100%;


}

.messenger-wrapper-animation {
    animation: messenger-wrapper-animation 2s ease;
}

@keyframes messenger-wrapper-animation {
    0% {    
        opacity: 0;
        transform: translateY(30px);

    } 20% {
        opacity: 0;
    } 100% {
        transform: translateY(0px);
        opacity: 1;
    }
}





.ai-message-app section p {
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat;
    /* margin: 8px 0px; */
}

.ai-message-app section h2 {
    margin: 32px 0px 12px 0px;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 24px;
}

.ai-message-app section h3 {
    margin: 24px 0px 8px 0px;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 20px;
}

.ai-message-app section strong {
    font-family: Montserrat;
    font-weight: 900;
}


.ai-message-app section li {
    font-family: Montserrat;
    font-weight: 400;
    /* margin: 8px 0px; */
    font-size: 16px;
}



.ai-message-app section ol {

    font-family: Montserrat;
    font-weight: 400;
    /* margin: 8px 0px; */
    font-size: 16px;
}

.ai-message-app section ul {
    font-family: Montserrat;
    font-weight: 400;
    /* margin: 8px 0px; */
    font-size: 16px;


    
}

.ai-message-app section ul,
.ai-message-app section ol {
  list-style: none;      /* отключает маркеры */
  padding-left: 0;       /* убирает отступ */
  margin-left: 0;        /* на всякий случай */

  height: min-content;
}

.ai-message-app section li {
  position: relative;    /* для кастомного маркера, если надо */
  height: fit-content;
  padding-left: 32px;       /* убирает отступ под "воображаемый" marker */

  display: flex;
  flex-direction: column;
  
}

.ai-message-app section li::before {
    content: '•'; /* или '✓' или '➤' или даже url(...) */
    position: absolute;
    margin-left: -28px;
    margin-top: -4px;
    
    color: #FBFBFB;
    font-size: 48px;
}


.ai-message-app section ul p,
.ai-message-app section ol p{
  list-style: none;      /* отключает маркеры */
  padding-left: 0;       /* убирает отступ */
  margin-left: 0;
  margin: 0;        /* на всякий случай */
}

.ai-message-app section li p {
  position: relative;    /* для кастомного маркера, если надо */
  padding-left: 0; 
  margin: 0;      /* убирает отступ под "воображаемый" marker */
}











/* 
.ai-triangle-loader {
    margin-bottom: calc(80vh - 100px - 150px);
} */