.SuccessfulAuth-app {
    background-color: #121319;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.SuccessfulAuth-app .section-1 {
    display: flex;
    flex-direction: column;

    width: 645px;
    height: 313px;
    
    padding: 20px;
    z-index: 2;
}


.SuccessfulAuth-app .section-1 article {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    gap: 20px;
    
}


.SuccessfulAuth-app .section-1 article button {
    margin-top: 30px;
    background-color: #222631;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 67px;
    transition: 0.3s ease;
}

.SuccessfulAuth-app .section-1 article button:hover {
    background-color: #657085;
}
.SuccessfulAuth-app .section-1 article button:active {
    scale: 0.9;
}
.SuccessfulAuth-app .section-1__form__header__text-1 {
    font-family: Unbounded;
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #FBFBFB;
}

.SuccessfulAuth-app .section-1__form__header__text-2 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    
    color: #FBFBFB;

    
}
 


.SuccessfulAuth-app .section-2 {
    display: flex;
    margin-top: 28px;
    margin-left: -200px;
    height: calc(100vh - 28px);
    z-index: 1;
}


@media (max-width: 750px) {
    .SuccessfulAuth-app .section-2 {
        display: none;
    }

    .gradient-circle {
        display: none !important;
    }


    .SuccessfulAuth-app {
        margin-top: 100px;
    }

    .SuccessfulAuth-app .section-1 {
        height: 343px;
    }


    .SuccessfulAuth-app .section-1__form__header__text-2 {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0%;

    }

    .SuccessfulAuth-app .section-1 article button {
        margin-top: 0;
    }


    
}