.section-upgrade {
    width: 100%;
    height: 625px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(140.46% 123.97% at -40.46% 121.66%, rgba(234, 187, 251, 0.6) 0%, rgba(203, 109, 250, 0.6) 34.97%, rgba(239, 89, 232, 0.6) 64.59%, rgba(139, 41, 175, 0.6) 82.81%, rgba(4, 4, 38, 0.6) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

    padding: 0px 30px;
    border-radius: 20px;
    gap: 15px;

    overflow: hidden;
}

.section-upgrade header {
    width: 100%;
    gap: 15px;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 20px 0px;
    flex-direction: column;
}

.section-upgrade header h1 {
    font-family: Unbounded;
    font-weight: 500;
    font-size: 13px;
    leading-trim: Cap height;
    line-height: 150%;
    letter-spacing: 0%;

    background: radial-gradient(58.27% 348.22% at 39.42% -41.67%, #4A83F0 0%, #B44ADD 39.73%, #D76674 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 10px;
    width: 114px;
    height: 24px;
    padding: 7px 10px 7px 10px;
    box-shadow: 0px 4px 15px 0px #B349DC7D;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-upgrade header h1 img {
    margin-left: -10px;
}

.section-upgrade header h2 {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
}

.section-upgrade header h2 p:nth-child(1) {
    font-family: Unbounded;
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.section-upgrade header h2 p:nth-child(2) {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;

}

.section-upgrade header button {
    width: 219px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 15px;
    border-radius: 36px;
    background-color: #22263199;
}

.section-upgrade header button span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0%;

    height: auto;
    width: auto;

}

.section-upgrade footer {
    padding-top: 40px;
    width: 100%;
    height: 300px;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}

.section-upgrade footer img {
    width: 354px;
    /* height: 300px; */

}